.contactContainer {
  display: flex;
  position: absolute;
  align-content: left;
  z-index: 1;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255,  0.6);
  box-shadow: 0 4px  4px  rgba(157, 204, 250, .1),
            0 1px  6px  rgba(157, 204, 250, .05),
            0 8px  8px  rgba(157, 204, 250, .1),
            0 16px 16px rgba(157, 204, 250, .1),
            8px 32px 32px rgba(157, 204, 250, .15),
            8px 64px 64px rgba(157, 204, 250,.15);
}

.contactText {
  pointer-events: none;
  line-height: 5px;
  font-family: 'Lato', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.personalInfoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px;
}

.socialIconStyle {
  display: flex;
  width: 80%;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

@media(min-width: 1450px) {
  .contactHeader {
    font-size: 40px;
    color: black;
  }

  .contactText {
    font-size: 20px;
  }

  .contactContainer{
      width: 35vw;
      height: auto;
      margin-top: 40vh;
      margin-left: 10vw;
  }
}

@media(max-width: 1450px) and (min-width: 1100px)  {
  .contactHeader {
    font-size: 35px;
    color: black;
  }

  .contactText {
    font-size: 20px;
  }

  .contactContainer{
      width: 35vw;
      height: auto;
      margin-top: 40vh;
      margin-left: 10vw;
  }
}

@media(max-width: 1100px) {
  .contactHeader {
    font-size: 33px;
    color: black;
  }

  .contactContainer{
      height: auto;
      margin-top: 45vh;
      width: 90%;
  }
}
