.contactContainer {
  display: flex;
  padding: 10px;
  margin: 10px;
  position: relative;
  align-content: left;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255,  0.6);
  box-shadow: 0 4px  4px  rgba(157, 204, 250, .1),
            0 1px  6px  rgba(157, 204, 250, .05),
            0 8px  8px  rgba(157, 204, 250, .1),
            0 16px 16px rgba(157, 204, 250, .1),
            8px 32px 32px rgba(157, 204, 250, .1),
            8px 64px 64px rgba(157, 204, 250,.1);
}

.contactText {
  line-height: 30px;
}
