.portfolioContainer {
  height: auto;
  display: grid;
  margin-top: 5vh;
  grid-template-rows: 30% auto;
  grid-template-columns: 100%;
}

.portfolioBackground {
  position: relative;
}

.portfolioBackground::after {
  background-size: 100% 100%;
  content: "";
  background: url('../../image/background.png') no-repeat;
  background-size: cover;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.portfolioHeaderStyle {
  padding-top: 12vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
  position: relative;
  height: auto;
}

.portfolioHeader {
  font-size: 40px;
  margin: 10px;
}

.quotesStyle {
  font-size: 40px;
  margin: 5px;
  font-family: 'Qwigley';
}
