.coffee_cup{
    width: 20px;
    height: 24px;
    border: 3px black solid;
    border-radius: 0px 0px 5px 5px;
    position: relative;
    margin: 36px auto;
}
.coffee_cup:after, .coffee_cup:before{
    position: absolute;
    content: "";
}
.coffee_cup:after{
    width: 5px;
    height: 12px;
    border: 3px black solid;
    border-left: none;
    border-radius: 0px 20px 20px 0px;
    left: 20px;
}

.coffee_cup:before{
    width: 2px;
    height: 6px;
    background-color: black;
    top: -10px;
    left: 4px;
    box-shadow: 5px 0px 0px 0px black,
                5px -5px 0px 0px black,
                10px 0px 0px 0px black;
    -webkit-animation: steam 1s linear infinite reverse;
       -moz-animation: steam 1s linear infinite reverse;
            animation: steam 1s linear infinite reverse;
}

@-webkit-keyframes steam{
    0%{height: 0px;}
    100%{height: 6px;}
}
@-moz-keyframes steam{
    0%{height: 0px}
    100%{height: 6px;}
}
@keyframes steam{
    0%{height: 0px}
    100%{height: 6px;}
}
