@media (max-width: 700px){
  .aboutSubContainer {
    flex-direction: column;
    height: auto;
  }

  .descriptionContainer {
    max-width: 300px;
  }

  .descriptionDetailContainer {
    max-width: 80%
  }
}
