@media (min-width: 1200px){
  .descriptionContainer {
    margin-bottom: 80px;
  }
}

@media (min-width: 700px){
  .descriptionContainer {
    height:80vh;
    justify-content: space-around;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

@media (max-width: 700px){
  .aboutSubContainer {
    flex-direction: column;
    height: auto;
  }

  .descriptionContainer {
    max-width: 300px;
    margin: 0;
  }
}
