.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.basicInfoGrid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin: 10px;
}
