.aboutContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: auto;
  height: 100vh;
  width: 100vw;
}

.basicInfoGrid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin: 10px;
}
