@media (min-width: 1200px){
  .titleSocialStyle {
    margin-bottom: 20px;
  }
}

@media (min-width: 700px){
  .titleSocialStyle {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }
}

@media (max-width: 1200px){
  .aboutContainer {
    flex-direction: column;
    height: auto;
    width: 100vw;
  }

  .aboutSubContainer {
    margin-bottom: 50px;
  }

  .titleSocialStyle {
    margin-top: 50px;
  }
}

@media (max-width: 700px){
  .aboutSubContainer {
    flex-direction: column;
    height: auto;
  }g

  .socialContainer {
    margin-bottom: 50px;
  }
}
