@media (min-width:1200px){
  .skillsContainer {
    height:80vh;
    justify-content: space-around;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 60vw;
    margin-bottom: 80px;
  }
}

@media (max-width: 1200px){
  .aboutContainer {
    flex-direction: column;
    height: auto;
    width: 100vw;
  }

  .skillsContainer {
    max-width: 60vw;
  }

  .skillsDetailContainer {
    width: 95%;
    justify-content: space-between;
  }
}


@media (max-width: 700px){
  .skillsContainer {
      max-width: 300px;
      margin: 0px;
      margin-bottom: 50px;
    }

  .skillsDetailContainer {
    flex-direction: column;
    max-width: 90%;
  }

  .skillBtnStyle {
    float: left;
  }
}
