.skillsContainer {
  display: flex;
  position: absolute;
  align-content: left;
  z-index: 1;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255,  0.6);
  box-shadow: 0 4px  4px  rgba(157, 204, 250, .1),
            0 1px  6px  rgba(157, 204, 250, .05),
            0 8px  8px  rgba(157, 204, 250, .1),
            0 16px 16px rgba(157, 204, 250, .1),
            8px 32px 32px rgba(157, 204, 250, .15),
            8px 64px 64px rgba(157, 204, 250,.15);
}

.skillsDetailContainer {
  margin: 30px;
}

.skillsHeader {
  font-size: 18px;
}

.headerLoaderStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%
}

@media(min-width: 1550px) {
  .skillsContainer{
      width: 35vw;
      height: auto;
      margin-top: 10vh;
      margin-left: 55vw;
  }
}

@media(max-width: 1550px) and (min-width: 1100px)  {
  .skillsContainer{
      width: 35vw;
      height: auto;
      margin-top: 5vh;
      margin-left: 55vw;
  }
}

@media(max-width: 1100px) {
  .skillsContainer{
      height: auto;
      margin-top: 93vh;
      width: 70%;
      margin-left: 15%;
      margin-right: 15%;
  }
}

.skillBtn {
  display: inline-block;
  text-align: center;
  color: rgba(255,255,255,0.9);
  border-radius: 50px;
  margin: 5px;
  padding: 10px;
background-image: linear-gradient(-225deg, #A445B2 0%, #D41872 52%, #FF0066 100%);
}

.learnBtn {
  display: inline-block;
  text-align: center;
  color: rgba(255,255,255,0.9);
  border-radius: 50px;
  margin: 5px;
  padding: 10px;
background-image: linear-gradient(-225deg, #65379B 0%, #886AEA 53%, #6457C6 100%);
}

.interestBtn {
  display: inline-block;
  text-align: center;
  color: rgba(255,255,255,0.9);
  border-radius: 50px;
  margin: 5px;
  padding: 10px;
background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
}

.skillsDetailStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
}

.loader-item {
  width: 40px;
  height: 40px;
  display: flex;
  margin-right: 10px;
}

.loader {
  width: 30px;
  height: 30px;
  position: relative;
  margin: auto;
}

.loader::before, .loader::after {
  content: "";
  position: absolute;
}

.loader-1 {
  -webkit-perspective: 500px;
          perspective: 500px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotate3d(2, 1, -1, 90deg);
          transform: rotate3d(2, 1, -1, 90deg);
}

.loader-1::before, .loader-1::after {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  background-image: linear-gradient(-225deg, #A445B2 0%, #D41872 52%, #FF0066 100%);
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.loader-1::before {
  left: 0;
  opacity: 0.7;
  border-top-right-radius: 0;
  -webkit-transform-origin: right top;
          transform-origin: right top;
  -webkit-animation-name: flapL;
          animation-name: flapL;
}
.loader-1::after {
  left: 50%;
  opacity: 0.5;
  border-top-left-radius: 0;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-animation-name: flapR;
          animation-name: flapR;
}

@-webkit-keyframes flapL {
  25%, 50% {
    -webkit-transform: rotateY(-45deg);
            transform: rotateY(-45deg);
  }
  12.5%, 37.5%, 65% {
    -webkit-transform: rotateY(45deg);
            transform: rotateY(45deg);
  }
  0%, 100% {
    -webkit-transform: rotateY(-30deg);
            transform: rotateY(-30deg);
  }
}

@keyframes flapL {
  25%, 50% {
    -webkit-transform: rotateY(-45deg);
            transform: rotateY(-45deg);
  }
  12.5%, 37.5%, 65% {
    -webkit-transform: rotateY(45deg);
            transform: rotateY(45deg);
  }
  0%, 100% {
    -webkit-transform: rotateY(-30deg);
            transform: rotateY(-30deg);
  }
}
@-webkit-keyframes flapR {
  25%, 50% {
    -webkit-transform: rotateY(45deg);
            transform: rotateY(45deg);
  }
  12.5%, 37.5%, 65% {
    -webkit-transform: rotateY(-45deg);
            transform: rotateY(-45deg);
  }
  0%, 100% {
    -webkit-transform: rotateY(30deg);
            transform: rotateY(30deg);
  }
}
@keyframes flapR {
  25%, 50% {
    -webkit-transform: rotateY(45deg);
            transform: rotateY(45deg);
  }
  12.5%, 37.5%, 65% {
    -webkit-transform: rotateY(-45deg);
            transform: rotateY(-45deg);
  }
  0%, 100% {
    -webkit-transform: rotateY(30deg);
            transform: rotateY(30deg);
  }
}

.loader-2 {
  border-radius: 50%;
  width: 4px;
  height: 4px;
  background: green;
  -webkit-animation-name: pacmanDot;
          animation-name: pacmanDot;
  -webkit-transform: translateX(14px);
          transform: translateX(14px);
}
.loader-2::before, .loader-2::after {
  border-radius: 50%;
  border: 14px solid blueviolet;
  border-right-color: transparent;
  top: -12px;
  left: -24px;
}
.loader-2, .loader-2::before, .loader-2::after {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.loader-2::before {
  -webkit-animation-name: upperJaw;
          animation-name: upperJaw;
}
.loader-2::after {
  -webkit-animation-name: lowerJaw;
          animation-name: lowerJaw;
}

@-webkit-keyframes pacmanDot {
  0%, 50% {
    background: violet;
  }
  51%, 100% {
    background: none;
  }
  0%, 100% {
    -webkit-transform: translateX(19px);
            transform: translateX(19px);
  }
  50% {
    -webkit-transform: translateX(14px);
            transform: translateX(14px);
  }
}

@keyframes pacmanDot {
  0%, 50% {
    background: violet;
  }
  51%, 100% {
    background: none;
  }
  0%, 100% {
    -webkit-transform: translateX(19px);
            transform: translateX(19px);
  }
  50% {
    -webkit-transform: translateX(14px);
            transform: translateX(14px);
  }
}
@-webkit-keyframes upperJaw {
  50% {
    -webkit-transform: rotate(50deg) translate(2px, -2px);
            transform: rotate(50deg) translate(2px, -2px);
  }
}
@keyframes upperJaw {
  50% {
    -webkit-transform: rotate(50deg) translate(2px, -2px);
            transform: rotate(50deg) translate(2px, -2px);
  }
}
@-webkit-keyframes lowerJaw {
  50% {
    -webkit-transform: rotate(-50deg) translate(2px, 2px);
            transform: rotate(-50deg) translate(2px, 2px);
  }
}
@keyframes lowerJaw {
  50% {
    -webkit-transform: rotate(-50deg) translate(2px, 2px);
            transform: rotate(-50deg) translate(2px, 2px);
  }
}

.loader-3 {
  border: 1px solid DodgerBlue;
  border-radius: 50%;
  -webkit-animation: counterClockwise 4s linear infinite;
          animation: counterClockwise 4s linear infinite;
}
.loader-3::before, .loader-3::after {
  border-radius: 50%;
}
.loader-3::before {
  width: 8px;
  height: 8px;
  background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
  -webkit-animation: clockwise 4s linear infinite;
          animation: clockwise 4s linear infinite;
}
.loader-3::after {
  width: 4px;
  height: 4px;
  top: 8px  ;
  left: 8px;
background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
  -webkit-transform-origin: -4px -4px;
          transform-origin: -4px -4px;
  -webkit-animation: counterClockwise 1s linear infinite;
          animation: counterClockwise 1s linear infinite;
}

@-webkit-keyframes clockwise {
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes clockwise {
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}
@-webkit-keyframes counterClockwise {
  to {
    -webkit-transform: rotate(-1turn);
            transform: rotate(-1turn);
  }
}
@keyframes counterClockwise {
  to {
    -webkit-transform: rotate(-1turn);
            transform: rotate(-1turn);
  }
}
