.skillsContainer, .approachContainer {
  position: relative;
  margin: 20px;
  padding: 10px;
  background-color: rgba(255, 255, 255,  0.6);
  box-shadow: 0 4px  4px  rgba(157, 204, 250, .1),
            0 1px  6px  rgba(157, 204, 250, .05),
            0 8px  8px  rgba(157, 204, 250, .1),
            0 16px 16px rgba(157, 204, 250, .1),
            8px 32px 32px rgba(157, 204, 250, .15),
            8px 64px 64px rgba(157, 204, 250,.15);
}

.skillsAlignmentStyle {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 20px;
}

.skillsDetailContainer {
  width: 30%;
}

.approachContainer {
  max-width: 50%;
  margin: 10px;
}

.iconTitleStyle {
  margin-right: 100px;
}

.approachAlignmentStyle {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
}

@media (max-width: 1000px){
  .skillsAlignmentStyle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .skillsDetailContainer {
    width: 100%
  }

  .skillsContainer {
    max-width: 350px;
  }

  .approachContainer {
    max-width: 280px;
    width:100%;
  }

  .approachAlignmentStyle {
    flex-direction: column;
  }

  .iconTitleStyle {
    margin-right: 0px;
  }
}

.skillBtnStyle {
  display: inline-block;
  text-align: center;
  color: rgba(255,255,255,0.9);
  border-radius: 50px;
  margin: 5px;
  padding: 10px;
}

.iconMarginStyle {
  margin: 10px;
}

.skillGradient {
background-image: linear-gradient(-225deg, #A445B2 0%, #D41872 52%, #FF0066 100%);
}

.learnGradient {
background-image: linear-gradient(-225deg, #65379B 0%, #886AEA 53%, #6457C6 100%);
}

.interestGradient {
background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
}
