.careerDetailsContainer {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.careerDetailsMargin {
	margin-left: 20px;
}

.main,
.careerContainer > header {
	width: 90%;
	max-width: 69em;
	margin: 0 auto;
	padding: 0 1.875em 3.125em 1.875em;
}

.careerContainer > header {
	padding: 2.875em 1.875em 1.875em;
}
.career_companyLogo {
	width: 100%;
	height: auto;
	max-width: 80px;
	max-height: 100px;
}

.careerContainer > header h1 {
	font-size: 2.125em;
	line-height: 1.3;
	margin: 0 0 0.6em 0;
	float: left;
	font-weight: 400;
}

.careerContainer > header > span {
	display: block;
	position: relative;
	z-index: 9999;
	font-weight: 700;
	letter-spacing: 0.5em;
	padding: 0 0 0.6em 0.1em;
}

.careerContainer > header > span span:after {
	width: 30px;
	height: 30px;
	left: -12px;
	font-size: 50%;
	top: -8px;
	font-size: 75%;
	position: relative;
}

.careerContainer > header > span span:hover:before {
	content: attr(data-content);
	text-transform: none;
	text-indent: 0;
	letter-spacing: 0;
	font-weight: 300;
	font-size: 110%;
	padding: 0.8em 1em;
	line-height: 1.2;
	text-align: left;
	left: auto;
	margin-left: 4px;
	position: absolute;
	color: #fff;
	background: #47a3da;
}

.careerContainer > header nav {
	float: right;
	text-align: center;
}

.careerContainer > header nav a {
	display: inline-block;
	position: relative;
	text-align: left;
	width: 2.5em;
	height: 2.5em;
	background: #fff;
	border-radius: 50%;
	margin: 0 0.1em;
	border: 4px solid #47a3da;
}

.careerContainer > header nav a > span {
	display: none;
}

.careerContainer > header nav a:hover:before {
	content: attr(data-info);
	color: #47a3da;
	position: absolute;
	width: 600%;
	top: 120%;
	text-align: right;
	right: 0;
	pointer-events: none;
}

.careerContainer > header nav a:hover {
	background: #47a3da;
}

.bp-icon:after {
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-align: center;
	color: #47a3da;
	-webkit-font-smoothing: antialiased;
}

.careerContainer > header nav .bp-icon:after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	line-height: 2;
	text-indent: 0;
}

.careerContainer > header nav a:hover:after {
	color: #fff;
}

.bp-icon-next:after {
	content: "\e000";
}
.bp-icon-drop:after {
	content: "\e001";
}
.bp-icon-archive:after {
	content: "\e002";
}
.bp-icon-about:after {
	content: "\e003";
}
.bp-icon-prev:after {
	content: "\e004";
}

@media screen and (max-width: 55em) {

	.careerContainer > header h1,
	.careerContainer > header nav {
		float: none;
	}

	.careerContainer > header > span,
	.careerContainer > header h1 {
		text-align: center;
	}

	.careerContainer > header nav {
		margin: 0 auto;
	}

	.careerContainer > header > span {
		text-indent: 30px;
	}
}

.career_tmtimeline {
	margin: 30px 0 0 0;
	padding: 0;
	list-style: none;
	position: relative;
}

/* The line */
.career_tmtimeline:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	width: 10px;
	background: #afdcf8;
	left: 20%;
	margin-left: -10px;
}

.career_tmtimeline > li {
	position: relative;
  margin-bottom: 70px;
}

/* The date/time */
.career_tmtimeline > li .career_tmtime {
	display: block;
	width: 15%;
	position: absolute;
}

.career_tmtimeline > li .career_tmtime span {
	display: block;
	text-align: right;
}

.career_tmtimeline > li .career_tmtime span:first-child {
	font-size: 1.9em;
	color: #bdd0db;
}

.career_tmtimeline > li .career_tmtime span:last-child {
	font-size: 1.9em;
	color: #3594cb;
}

.career_tmtimeline > li:nth-child(odd) .career_tmtime span:last-child {
	color: #6cbfee;
}

/* Right content */
.career_tmtimeline > li .career_tmlabel {
	margin: 0 0 15px 25%;
	background: #3594cb;
	color: #fff;
	padding: 2em;
	font-size: 1.2em;
	font-weight: 300;
	line-height: 1.4;
	position: relative;
	border-radius: 5px;
  box-shadow: 0 4px  4px  rgba(11, 122, 248, .1),
            0 1px  6px  rgba(11, 122, 248, .05),
            0 8px  8px  rgba(11, 122, 248, .1),
            0 16px 16px rgba(11, 122, 248, .1),
            8px 32px 32px rgba(11, 122, 248, .15),
            8px 64px 64px rgba(11, 122, 248, .15);
}

.career_tmtimeline > li:nth-child(odd) .career_tmlabel {
	background: #6cbfee;
}

.career_tmtimeline > li .career_tmlabel h2 {
	margin: 0px 0px 5px 0px;
	border-bottom: 1px solid rgba(255,255,255,0.4);
}

/* The triangle */
.career_tmtimeline > li .career_tmlabel:after {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-right-color: #3594cb;
	border-width: 10px;
	top: 10px;
}

.career_tmtimeline > li:nth-child(odd) .career_tmlabel:after {
	border-right-color: #6cbfee;
}

/* The icons */
.career_tmtimeline > li .career_tmicon {
	width: 40px;
	height: 40px;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	font-size: 1.4em;
	line-height: 40px;
	-webkit-font-smoothing: antialiased;
	position: absolute;
	color: #fff;
	background: #46a4da;
	border-radius: 50%;
	box-shadow: 0 0 0 8px #afdcf8;
	text-align: center;
	left: 20%;
	top: 0;
	margin: 0 0 0 -25px;
}

.career_tmicon-phone:before {
	content: "\e000";
}

.career_tmicon-screen:before {
	content: "\e001";
}

.career_tmicon-mail:before {
	content: "\e002";
}

.career_tmicon-earth:before {
	content: "\e003";
}

/* Example Media Queries */
@media screen and (max-width: 65.375em) {

	.career_tmtimeline > li .career_tmtime span:last-child {
		font-size: 1.9em;
	}
}

@media screen and (max-width: 47.2em) {
	.career_tmtimeline:before {
		display: none;
	}

	.career_tmtimeline > li .career_tmtime {
		width: 100%;
		position: relative;
		padding: 0 0 20px 0;
	}

	.career_tmtimeline > li .career_tmtime span {
		text-align: left;
	}

	.career_tmtimeline > li .career_tmlabel {
		margin: 0 0 30px 0;
		padding: 1em;
		font-weight: 400;
		font-size: 95%;
	}

	.career_tmtimeline > li .career_tmlabel:after {
		right: auto;
		left: 20px;
		border-right-color: transparent;
		border-bottom-color: #3594cb;
		top: -20px;
	}

	.career_tmtimeline > li:nth-child(odd) .career_tmlabel:after {
		border-right-color: transparent;
		border-bottom-color: #6cbfee;
	}

	.career_tmtimeline > li .career_tmicon {
		position: relative;
		float: right;
		left: auto;
		margin: -55px 5px 0 0px;
	}
}
