.footerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
}

.footerDescription {
  max-width: 500px;
  text-align: center;
}
