.footerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
}

.blinker {
  margin: 50px;
  flex: none;
  width: 48px;
  height: 48px;
  position: relative;
  pointer-events: none;
}

.blinker-style .element {
  border-radius: 4px;
  width: 6px;
  box-shadow: inset 0 0 2px #8dc11d;
  transform-origin: bottom center;
  height: 100%;
}
.blinker-style .element:after {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  display: block;
}
.blinker-style .element:before {
  content: '';
  display: block;
  position: relative;
  top: 100%;
  left: 0;
  right: 0;
  height: 20px;
  background: #555;
  border: 1px solid #333;
  border-radius: 0 0 4px 4px;
  box-sizing: border-box;
}
.blinker-style .element:nth-child(1) {
  background: #A9E031;
  position: absolute;
  left: 8px;
  top: 0;
  animation: jedi-strike 1200ms infinite;
  z-index: 1;
}
.blinker-style .element:nth-child(1):after {
  animation: jedi-pulse 1000ms infinite;
}
.blinker-style .element:nth-child(2) {
  background: #FC4242;
  position: absolute;
  right: 8px;
  top: 0;
  animation: sith-strike 1200ms infinite;
  z-index: 3;
}
.blinker-style .element:nth-child(2):after {
  animation: sith-pulse 1000ms infinite;
}
.blinker-style .spark {
  position: absolute;
  left: 50%;
  top: 20px;
  margin-left: -8px;
  transform: rotate(45deg);
  background: yellow;
  width: 16px;
  height: 16px;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
  animation: spark-flash 1200ms infinite;
  z-index: 0;
}
.blinker-style .spark:after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  transform: rotate(45deg);
  background: yellow;
}

@keyframes jedi-strike {
  0%,35%,100% {
    z-index: 2;
    transform: rotate(-10deg);
  }
  10% {
    transform: rotate(45deg);
  }
  60% {
    transform: rotate(45deg);
  }
}
@keyframes sith-strike {
  0%,35%,100% {
    z-index: 3;
    transform: rotate(10deg);
  }
  10% {
    transform: rotate(-45deg);
  }
  34% {
    z-index: 3;
  }
  35% {
    z-index: 0;
  }
  60% {
    transform: rotate(-45deg);
  }
  99% {
    z-index: 0;
  }
}
@keyframes spark-flash {
  0%, 15%, 50%, 70%, 100% {
    opacity: 0;
  }
  20%,60% {
    opacity: .9;
  }
}
