.titleContainer {
  display: flex;
  position: relative;
  align-content: center;
  padding: 5px;
  margin: 0px 10px 10px 10px;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255,  0.6);
  box-shadow: 0 4px  4px  rgba(157, 204, 250, .1),
            0 1px  6px  rgba(157, 204, 250, .05),
            0 8px  8px  rgba(157, 204, 250, .1),
            0 16px 16px rgba(157, 204, 250, .1),
            8px 16px 16px rgba(157, 204, 250, .2),
            8px 16px 16px rgba(157, 204, 250,.2);
}

.stripe {
  height: 5px;
  margin-top: 20px;
}

.jobTitle {
  color: grey;
  pointer-events: none;
  line-height: 10px;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  margin: 10px 10px 10px 10px;
}

.nameStyle {
  text-transform: uppercase;
  font-weight: 900;
  margin: 40px 10px 0px 10px;
}

.pictureStyle {
  margin-top: 30px;
}

.profilePic {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.titleDescription {
  margin-right: 20px;
}

.nameContainer {
  margin-left: 10px;
}

.rw-words{
    width: auto;
}

.rw-words-1 span{
    position: absolute;
    opacity: 0;
    -webkit-animation: rotateWord 9s linear infinite 0s;
    -ms-animation: rotateWord 9s linear infinite 0s;
    animation: rotateWord 9s linear infinite 0s;
}
.rw-words-1 span:nth-child(2) {
    -webkit-animation-delay: 3s;
    -ms-animation-delay: 3s;
    animation-delay: 3s;
}
.rw-words-1 span:nth-child(3) {
    -webkit-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
}

@-webkit-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
    5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); }
    20% { opacity: 0; -webkit-transform: translateY(30px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -ms-transform: translateY(-30px); }
    5% { opacity: 1; -ms-transform: translateY(0px);}
    17% { opacity: 1; -ms-transform: translateY(0px); }
    20% { opacity: 0; -ms-transform: translateY(30px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
    5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
    20% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}

@keyframes BackgroundGradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

.titleGradient {
  background: linear-gradient(to right, #3399ff, #cce6ff);
  background-size: 500% 500%;
  animation: BackgroundGradient 3s ease infinite;
}
