.titleContainer {
  display: flex;
  position: absolute;
  z-index: 1;
  align-content: left;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255,  0.6);
  box-shadow: 0 4px  4px  rgba(157, 204, 250, .1),
            0 1px  6px  rgba(157, 204, 250, .05),
            0 8px  8px  rgba(157, 204, 250, .1),
            0 16px 16px rgba(157, 204, 250, .1),
            8px 32px 32px rgba(157, 204, 250, .15),
            8px 64px 64px rgba(157, 204, 250,.15);
}

.stripe {
  height: 5px;
  width: auto;
  margin-top: 10px;
}

.titleText {
  pointer-events: none;
  line-height: 10px;
}

.myName {
  margin: 10px;
  position: relative;
}

.jobTitle {
  color: grey;
  font-family: 'Lora';
}

.profilePic {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.mainContainer {
  position: absolute;
}

.meContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.titleDescription {
  line-height: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Lora';
}

.titleTextContainer {
  margin: 30px;
}

.titleDescription {
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}



@media(min-width: 1450px) {
  .titleHeader {
    font-size: 40px;
    color: black;
  }

  .titleDescription {
    font-size: 25px;
  }

  .jobTitle {
    font-size: 20px;
    margin-left:20px;
    margin-top: 30px;
  }

  .rw-words{
      margin-left: 30px;
  }

  .titleContainer{
      width: 35vw;
      height: 30vh;
      margin-top: 5vh;
      margin-left: 10vw;
  }
}

@media(max-width: 1450px) and (min-width: 1100px)  {
  .titleHeader {
    font-size: 35px;
    color: black;
  }

  .titleDescription {
    font-size: 20px;
  }

  .jobTitle {
    font-size: 20px;
    margin-left:15px;
    margin-top: 20px;
  }

  .rw-words{
      margin-left: 25px;
  }

  .titleContainer{
      width: 35vw;
      height: 25vh;
      margin-top: 7vh;
      margin-left: 10vw;
  }
}

@media(max-width: 1100px) {
  .number {
    font-size: 200px;
    color: #fff;
  }

  .titleHeader {
    font-size: 30px;
    color: black;
  }

  .titleDescription {
    font-size: 20px;
  }

  .jobTitle {
    font-size: 15px;
    margin-left:10px;
    margin-top: 15px;
  }

  .rw-words{
      margin-left: 15px;
  }

  .titleContainer{
      height: 25vh;
      margin-top: 15vh;
      width: 70%;
      margin-left: 15%;
      margin-right: 15%;
  }
}

.rw-words{
    width: auto;
}

.rw-words-1 span{
    position: absolute;
    opacity: 0;
    -webkit-animation: rotateWord 9s linear infinite 0s;
    -ms-animation: rotateWord 9s linear infinite 0s;
    animation: rotateWord 9s linear infinite 0s;
}
.rw-words-1 span:nth-child(2) {
    -webkit-animation-delay: 3s;
    -ms-animation-delay: 3s;
    animation-delay: 3s;
}
.rw-words-1 span:nth-child(3) {
    -webkit-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
}

@-webkit-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
    5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); }
    20% { opacity: 0; -webkit-transform: translateY(30px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -ms-transform: translateY(-30px); }
    5% { opacity: 1; -ms-transform: translateY(0px);}
    17% { opacity: 1; -ms-transform: translateY(0px); }
    20% { opacity: 0; -ms-transform: translateY(30px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
    5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
    20% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}

@keyframes BackgroundGradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

.titleGradient {
  background: linear-gradient(to right, #3399ff, #cce6ff);
  background-size: 500% 500%;
  animation: BackgroundGradient 3s ease infinite;
}
