@media (max-width: 1300px){
  .workStyle {
    grid-template-columns: auto;
  }
}

@media (max-width: 700px){
  .grid figure {
  	position: relative;
  	float: left;
  	overflow: hidden;
  	margin: 10px 1%;
  	min-width: 250px;
  	max-width: 380px;
  	max-height: 250px;
  	background: #3085a3;
  	text-align: center;
  	cursor: pointer;
    margin: 10px;
  }
}
