@media (max-width: 1100px){
  .workStyle {
    grid-template-columns: auto;
  }
}

@media (max-width: 700px){
  .grid figure {
  	max-width: 350px;
  }

  .grid figure img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}
