@media (max-width: 1100px){
  .workStyle {
    grid-template-columns: auto;
  }
}

@media (max-width: 700px){
  .grid figure {
  	position: relative;
  	overflow: hidden;
  	max-width: 350px;
  	max-height: auto;
  	background: #3085a3;
  	text-align: center;
  }

  .grid figure img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}
